/* text */

.b-g_h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 3rem 0 2rem 0;
}


/* Bewertungsbutton */

.bewertung_button_row{
    margin: 4rem 0 4rem 0;
}

.box {
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  