.taskleiste {
    width: 100vw;
    background-color: var(--graublau);
    display: flex;
    justify-content: space-between;
    padding: 3px 8px 3px 8px; 
}
#logo {
    width: 30px;
    height: 30px;
}
#login_btn_small {
    border-radius: 5px;
    color: rgb(29, 29, 29);
    background-color: white;
    box-shadow: 0px -4px 5px 1px rgba(0,0,0,0.3) inset;
    font-size: 14px;
    padding: 2px 16px 2px 16px;
}

.golden-text {
    color : var(--golden);
    font-size : 5vw;
}

.star-container {
    margin-top: -40px;
}
.star {
    background: var(--goldenGradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200px;
}
.star-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: 500;
}

.lightblue_btn {
    color: var(--weiß);
    background-color: var(--graublau);
    border-radius: 3px;
    border: none;
    width: 100%;
    padding: 8px 3px 8px 3px;
}